node_modules/
.next/
out/
build/
dist/
*.pem
.env.local
.env.*.local
.DS_Store
*.swp
*.swo
*~
.vscode/*
!.vscode/extensions.json
.idea/
*.iml
.package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
